*.lo
*.o
*.la
*.in
*.db
*.gir
*.typelib
*.deps
*.libs
*.png
*.pyc
*.sdf
*.suo
*.aps
*.exp
*.aps
*.svn
*.spec
*.pc
*.log
*.spec
svn-ignore
.MySCMServerInfo
win32/ipch/*
win32/Debug/*
win32/Release/*
win32/booknote.opensdf
Makefile
/*~
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
src/clue
tests/test-mime
