/**********
 * Windows *
 **********/
GtkWindow {
	border-image: url("img/window.bmp") 26 5 5 5 stretch;
}

.caption-close {
	background-image: url("img/close.bmp");
    margin: 0px 5px 0px 0px;
}

.caption-close:hover {
	background-image: url("img/close-hover.bmp");
}

.caption-close:active {
	background-image: url("img/close-active.bmp");
}

.caption-close-only {
	background-image: url("img/close-only.bmp");
    margin: 0px 5px 0px 0px;
}

.caption-close-only:hover {
	background-image: url("img/close-only-hover.bmp");
}

.caption-close-only:active {
	background-image: url("img/close-only-active.bmp");
}

.caption-minimize {
	background-image: url("img/minimize.bmp");
}

.caption-minimize:hover {
	background-image: url("img/minimize-hover.bmp");
}

.caption-minimize:active {
	background-image: url("img/minimize-active.bmp");
}

.caption-maximize {
	background-image: url("img/maximize.bmp");
}

.caption-maximize:hover {
	background-image: url("img/maximize-hover.bmp");
}

.caption-maximize:active {
	background-image: url("img/maximize-active.bmp");
}

.caption-restore {
	background-image: url("img/restore.bmp");
}

.caption-restore:hover {
	background-image: url("img/restore-hover.bmp");
}

.caption-restore:active {
	background-image: url("img/restore-active.bmp");
}

/***************
 * Resize grip *
 ***************/

.grip {
	background-image: url("img/resize-grip.png");
}

/*********
 * Panes *
 *********/

.pane-separator {
	background-image: url("img/pane-separator-grip-horz.png");
}

.pane-separator.vertical {
	background-image: url("img/pane-separator-grip-vert.png");
}

/*************************
 * Check and Radio items *
 *************************/

.check,
.check row:selected,
.check row:selected:focus {
	background-image: url("img/checkbox-unchecked.png");
}

.check:hover,
.check row:selected:hover,
.check row:selected:focus:hover {
	background-image: url("img/checkbox-unchecked-hover.png");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
	background-image: url("img/checkbox-unchecked-insensitive.png");
}

.check:active,
.check row:selected:active,
.check row:selected:focus:active {
	background-image: url("img/checkbox-checked.png");
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focus:active:hover {
	background-image: url("img/checkbox-checked-hover.png");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive {
	background-image: url("img/checkbox-checked-insensitive.png");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
	background-image: url("img/checkbox-mixed.png");
}

.check:inconsistent:hover,
.check row:selected:inconsistent:hover,
.check row:selected:focus:inconsistent:hover {
	background-image: url("img/checkbox-mixed-hover.png");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
	background-image: url("img/checkbox-mixed-insensitive.png");
}

.radio,
.radio row:selected,
.radio row:selected:focus {
	background-image: url("img/radio-unchecked.png");
}

.radio:hover,
.radio row:selected:hover,
.radio row:selected:focus:hover {
	background-image: url("img/radio-unchecked-hover.png");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
	background-image: url("img/radio-unchecked-insensitive.png");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focus:active {
	background-image: url("img/radio-checked.png");
}

.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focus:active:hover {
	background-image: url("img/radio-checked-hover.png");
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive {
	background-image: url("img/radio-checked-insensitive.png");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
	background-image: url("img/radio-mixed.png");
}

.radio:inconsistent:hover,
.radio row:selected:inconsistent:hover,
.radio row:selected:focus:inconsistent:hover {
	background-image: url("img/radio-mixed-hover.png");
}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
	background-image: url("img/radio-mixed-insensitive.png");
}

/*********
 * Menus *
 *********/

.menu .menuitem.check {
	background-image: url("img/menuitem-checkbox.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:hover {
	background-image: url("img/menuitem-checkbox-hover.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:insensitive {
	background-image: url("img/menuitem-checkbox-insensitive.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:active {
	background-image: url("img/menuitem-checkbox-checked.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:active:hover {
	background-image: url("img/menuitem-checkbox-checked-hover.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:active:insensitive {
	background-image: url("img/menuitem-checkbox-checked-insensitive.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:inconsistent,
.menu .menuitem.radio:inconsistent {
	background-image: url("img/menuitem-checkbox-mixed.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:inconsistent:hover,
.menu .menuitem.radio:inconsistent:hover {
	background-image: url("img/menuitem-checkbox-mixed-hover.png");
	background-repeat: no-repeat;
}

.menu .menuitem.check:inconsistent:insensitive,
.menu .menuitem.radio:inconsistent:insensitive {
	background-image: url("img/menuitem-checkbox-mixed-insensitive.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio {
	background-image: url("img/menuitem-radio.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:hover {
	background-image: url("img/menuitem-radio-hover.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:insensitive {
	background-image: url("img/menuitem-radio-insensitive.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:active {
	background-image: url("img/menuitem-radio-checked.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:active:hover {
	background-image: url("img/menuitem-radio-checked-hover.png");
	background-repeat: no-repeat;
}

.menu .menuitem.radio:active:insensitive {
	background-image: url("img/menuitem-radio-checked-insensitive.png");
	background-repeat: no-repeat;
}

/*********
 * Panes *
 *********/

.pane-separator {
	background-image: url("img/pane-separator-grip-horz.png");
}

.pane-separator.vertical {
	background-image: url("img/pane-separator-grip-vert.png");
}
